<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>

	<div th:fragment="list">
		<div class="w3-white w3-text-grey w3-card-4">
			<div class="w3-display-container">
				<div class="w3-container w3-text-black">
					<h3>Functions</h3>
				</div>
			</div>
			<div class="w3-container">
				<ul class="nav nav-pills nav-stacked">
					<li><a href="registrationPage">Add Employee</a></li>
					<li><a href="#">Function 2</a></li>
					<li><a href="#">Function 3</a></li>
				</ul>
				<hr>
			</div>
		</div>
		<br>
	</div>

</body>
</html>